player-connection-mode=Listen
player-connection-guid=4040295297
player-connection-debug=0
player-connection-project-name=3knot3
player-connection-ip=192.168.0.109
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=7d707febb7214d208db0b33024c8e024
